<div class="loginArea">

  <div class="loginBlock">
    {{ errorMessage$ | async }}
    <div>
        <div class="iconBox iconUser"></div>
        <input [(ngModel)]="logininfo.loginId" placeholder="Login ID">
    </div>
    <div>
        <div class="iconBox iconPassword"></div>
        <input type="password" [(ngModel)]="logininfo.password" placeholder="Password">
    </div>
    <div>
        <button class="loginBtn" (click)="doLogin(logininfo.loginId, logininfo.password)">login</button>
    </div>
  </div>

</div>

